.App {
  margin: 0 auto;
  max-width: 1980px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #fafafa;
}
select:focus {
  outline: none;
}
li {
  list-style: none;
  list-style-type: none;
}
